{{#section 'head'}}
    <style>
        #box {
            display: flex;
            width: 100%;
        }

        img {
            flex-grow: 3;
            width: 200px;
            height: 700px;
            object-fit: cover;
        }

        #formWrap {
            flex-grow: 1;
            width: 200px;
        }
    </style>
{{/section}}
<div id='box'>
    <img src="img/Bild.png">
    <div id='formWrap'>
        <h1>A Form for entering the Roadtrip Details</h1>
        <input :Wwwq :wq :ew </div> </div>
