<!-- the following will be included into the head of the main.hbs file! -->
{{#section 'head'}}
<style>
</style>
{{/section}}

<!--The following will be the main part of the document! It will be the {{{body}}} part in the main.hbs file -->
<img class="w-100 " src="img/BilderKlaus0009.JPG">

{{#section 'sidebar'}}
{{#each context}}
<div class="col"> <!--with this I am creating a new line! -->
    <a href="{{link}}">
        <div class="row y-center">
            <div class="col align-self-center">
                <h2 class="mx-auto">{{{text}}}</h2>
            </div>
        </div>
    </a>
</div>
{{/each}}
{{/section}}

<!-- the following will be included into the jQuery section at the bottom of the main.hbs file! -->
{{#section 'jQuery'}}
<script>
</script>
{{/section}}
