<!-- the following will be included into the head of the main.hbs file! -->
{{#section 'head'}}
<style>
#sidebar{
    width:var(--small-Sidebar,272px);
}
h2{
    font-stretch:condensed;
    letter-spacing:1px;
    line-height:1.3;
}
div.row.y-center{
    border-width:0 0 .5px 0;
    border-style:solid;
}
</style>
{{/section}}

<!--The following will be the main part of the document! It will be the {{{body}}} part in the main.hbs file -->
<img class="w-100 " src="img/BilderKlaus0009.JPG">

{{#section 'sidebar'}}
{{#each context}}
<div class="col hover-grow"> <!--with this I am creating a new line! -->
    <a href="{{link}}">
        <div class="row y-center">
            <div class="col align-self-center">
                <h2 class="mx-auto">{{{text}}}</h2>
            </div>
        </div>
    </a>
</div>
{{/each}}
{{/section}}

<!-- the following will be included into the jQuery section at the bottom of the main.hbs file! -->
{{#section 'jQuery'}}
<script>
    // doesnt really work. I have to figuere out how to only make one elemt greater!
    // var f = function(value){
    //     return function(){
    //         $(this).animate({"margin-left": "+=.5in"});
    //     }
    // }
    // $(".hover-grow").hover(f(0),f(0));
</script>
{{/section}}
