<!-- the following will be included into the head of the main.hbs file! -->
{{#section 'head'}}
<style>
@media(min-width:576px){ /*screens that have at minimum this size*/
    #sidebar{
        width:var(--small-Sidebar,272px);
        overflow:visible;
    }
}
h2{
    font-stretch:condensed;
    letter-spacing:1px;
    line-height:1.3;
}
.row.y-center{
    border-width:0 0 .5px 0;
    border-style:solid;
}
.row.hover-grow:hover{
    margin-left: -50px;
}

</style>
{{/section}}

<!--The following will be the main part of the document! It will be the {{{body}}} part in the main.hbs file -->
<img class="w-100 " src="img/BilderKlaus0009.JPG">

{{#section 'sidebar'}}
{{#each context}}
<div class="col"> <!--with this I am creating a new line! -->
    <a href="{{link}}">
        <div class="row y-center hover-grow btn-hover-behaviour">
            <div class="col align-self-center">
                <h2 class="mx-auto">{{{text}}}</h2>
            </div>
        </div>
    </a>
</div>
{{/each}}
{{/section}}

<!-- the following will be included into the jQuery section at the bottom of the main.hbs file! -->
{{#section 'jQuery'}}
{{/section}}
