<!-- the following will be included into the head of the main.hbs file! -->
{{#section 'head'}}
<style>
:root{
    --font-size:1.5rem;
    --line-height:2rem;
    --h:max(var(--font-size),var(--line-height));
    --p:calc( 100vh / 7 - var(--h) );
}
    .sidebar{
        /*padding-top:var(--p);*/
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    .button.big{
        margin: var(--p) 0 var(--p) 1.5rem; /*top right bottom left*/
        line-height:2rem;
    }
    .button.smaller{
        margin: calc( var(--p) / 2 ) 0 calc( var(--p) / 2 ) 1.5rem;
        line-height:2rem;
    }
    a,a:hover{
        display:block;
        /*margin:0 auto;*/
        font-weight: 600;
        color: white;
        text-decoration:none;
        /*color: #333;*/
    }
    .container-fluid{
        padding:0;
    }
    .row .no-gutters{
        background-color:#d32e1d;
    }
    p{
        transform: scale(1, 1.2);
        -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
        -moz-transform: scale(1, 1.2); /* Firefox */
        -ms-transform: scale(1, 1.2); /* IE 9+ */
        -o-transform: scale(1, 1.2); /* Opera */
    }
    body {
        font-size: 1.5rem;
        font-family:futura-pt;
    }

</style>
{{/section}}

{{#section 'sidebar'}}
<a href="#"><div class="button big"><p>Mache deinen<br>Traumroadtrip</p></div></a>
<div class="w-100"> </div>
<a href="#"><div class="button big"><p>Mitfahrer für<br>Roadtrips gesucht</p></div></a>
<div class="w-100"></div>
<a href="#"><div class="button big"><p>Was ist das<br>für eine Seite?</p></div></a>
<div class="w-100"></div>
<a href="#"><div class="button smaller"><p>Einloggen</p></div></a>
{{/section}}

<!-- the following will replace the {{{body}}} tag inside the main.hbs file -->
<img class="w-100" src="img/BilderKlaus0009.JPG">

<!-- the following will be included into the jQuery section at the bottom of the main.hbs file! -->
{{#section 'jQuery'}}
<script>
</script>
{{/section}}
