{{#section 'head'}}
    <style>
        img:first-child {
            width: 100%;
            position: absolute;
        }

        #penis {
            width: 100%;
        }

        div {
            position: absolute;
            height: 170px;
            width: 25%;
            z-index: 2;
        }

        div:hover {
            backdrop-filter: invert(100%);
            -webkit-backdrop-filter: invert(100%);
        }
    </style>
{{/section}}
<img src="img/IMG_9846.jpg">
<div></div>
<img id="penis" src="img/BilderKlaus0003.JPG" style="z-index:-1">
<!-- the specified z-index puts the background image underneath everything else!-->
