<!--#TODO color the textrare grabber maybe with a background arrow -->
{{#section 'head'}}
<style>
#grid-container{
    justify-content: center !important;
}
#body-container{
    flex-grow:0;
}
</style>
{{/section}}

{{#section 'sidebar'}}
<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="iich biins">
    </div>
</form>
{{/section}}

{{#section 'jQuery'}}
<script></script>
{{/section}}
