{{#section 'head'}}
<style>
:root{
    --aspect-ratio-video:0.563; /*height / broadness*/
}
video {
    width: 100%;
}
.outer {
    display:table;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    /*height:100%;*/
    height:calc(100vw * var(--aspect-ratio-video));
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width:9%;
}
#videoContainer{
    position:absolute;
    width:100%;
    height:100vh;
}
#play{
    display:none;
}
#pause{
    display:none;
    position:absolute;
    bottom:10px;
    left:10px;
    width:2%;
}
#unmute{
    position:absolute;
    bottom:10px;
    right:10px;
}
#skip{
    position:absolute;
    top:10px;
    right:10px;
    width:4%;
    opacity:70%;
}
#unmute img{
    width:40px;
    height:40px;
}
#poster{
    position:absolute;
    top:0;
    right:0;
}
#poster img{
    width:100%;
    height:100vh;
}

</style>
{{/section}}

<div id='videoContainer'>
    <div id='poster'><img src='img/start.png'></div>
    <video id='video' poster='img/start.png' controls muted>
        <!--##TODO Video shorten after Julia Talks make the Heading-->
        <source src='vid/RoadtripEurope.mp4' type='video/mp4'>
    </video>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div id='play'>
                    <img src='svg/play-circle.svg'>
                </div>
            </div>
        </div>
    </div>
    <div id='pause'><img src='svg/pause.svg'></div>
    <div id='unmute'><img src='svg/volume-slash.svg'></div>
    <div id='skip'><a href='/'><img src='svg/arrow-right.svg'></a></div>
</div>

{{#section 'jQuery'}}
<script>
    $(function(){ // this function is invoked when the ContentLoad Event is fired!
        var supportsVideo = !!document.createElement('video').canPlayType;
        if (supportsVideo) {
            var video = document.getElementById('video');
            var play= document.getElementById('play');
            var pause= document.getElementById('pause');
            var unmute= document.getElementById('unmute');
            video.controls = false; //hide controls if the browser does support JavaScript
            play.style.display = 'block';
            play.addEventListener('click', function(e) {
                if (video.paused || video.ended) {
                    video.play();
                    play.style.display = 'none';
                    pause.style.display = 'block';
                    $('#poster').fadeOut(3100);
                }
                else {
                    video.pause();
                    play.style.display = 'block';
                    pause.style.display = 'none';
                }
            });
            pause.addEventListener('click',function(){
                play.dispatchEvent(new Event('click'));
            });
            unmute.addEventListener('click',function(){
                video.muted = !video.muted;
            });
        }

    });
</script>
{{/section}}
