{{#section 'head'}}
<style>
#sidebar{
    width:auto;
}
table{
    width:350px !important;
    margin-right:-34.5px;
    margin-left:-34.5px;
    overflow:auto;
}
</style>
{{/section}}

{{! section body}}

{{! /section}}

{{#section 'sidebar'}}
<div class="col">
    <h3 class="mx-auto text-center mt-4 mb-5">Welche Roadtrips<br>machen andere</h3>
    <form class="form-group form-row">
        <div class="col">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-auto">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
    <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Start</th>
                <th scope="col">Ende</th>
                <th scope="col">Abfahrt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nighel123</th>
                <td>Deutschland<br>Hamburg</td>
                <td>Spanien<br>Madrid</td>
                <td>2.10.2012</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
            <tr>
                <th scope="row">Felix3</th>
                <td>Italien<br>Rom</td>
                <td>Griechenland<br>Athen</td>
                <td>4.6.2019</td>
            </tr>
        </tbody>
    </table>
</div>
{{/section}}

{{#section 'jQuery'}}

{{/section}}
