{{#section 'head'}}
<style>
#sidebar{
    width:27rem;
}
.figure-caption{
    font-size:1.1em;
}
</style>

{{/section}}

{{! section body}}
<img class="w-100" src="img/Bild.png">

{{! /section}}

{{#section 'sidebar'}}
<div class="col-auto">
    <figure class="figure mt-5">
        <img src="svg/dummy.svg" class="img-thumbnail mb-1 w-75 h-25" alt="">
        <figcaption class="text-white figure-caption mb-3">Nighel123's Roadtrip Foto</figcaption>
    </figure>
    <h3 class="mb-1">Roadtrip Hamburg Venedig</h3>
    <h5 class="mb-4">Vom 3.10.2018 bis 7.10.2018</h5>
    <p class="mb-4">Vorrangigen Ziel des Schutzes der Meeresschild-
    kröten gegründet. 2.  Was tun wir und was
    müssen wir schützen? Das Projekt schützt zwei
    der sieben Meeresschildkröten Arten, die in der
    Welt existieren. Diese sind: Oliv-Bastardschild-
    kröte, Lederschildkröte. Das Projekt schützt zwei
    der sieben Meeresschildkröten Arten, die in der
    Welt existieren. Diese sind: Oliv-Bastardschild-
    kröte, Lederschildkröte.  </p>

    <div id="" class="btn-hover-behaviour border-top border-bottom row">
        <a href="#">
            <div class="col align-self-center">
                <h3 class="mx-auto text-center my-5">Nachricht an Nighel123</h3>
            </div>
        </a>
    </div>
</div>
{{/section}}

{{#section 'jQuery'}}

{{/section}}
