/* ==========================================================================
Author's custom styles
========================================================================== */
html{
    font-stretch:condensed;
}
p{
    font-size:106.25%;
}
h5{
    font-size:131.25%;
    font-weight:500;
}
h4{
    font-size:181.25%;
    font-weight:700;
}
a,a:hover{
    display:block;
    color: white;
    text-decoration:none;
    width:100%;
}

