/* ==========================================================================
Author's custom styles
========================================================================== */
a,a:hover{
    color: white;
    text-decoration:none;
    width:100%;
}

