/* ==========================================================================
Author's custom styles
========================================================================== */
html{
    font-size:.92em;
    --small-Sidebar:272px;/*eventuell noch in em umwandeln*/
    --large-Sidebar:350px;
}
a,a:hover{
    text-decoration:none;
    width:100%;
    color:#f8f9faff;
}

