/* sidebar styling */
#sidebar{
    flex-direction: column;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color:var(--red,#d32e1d);
    height:100vh;
    overflow: scroll;
    color:#f8f9faff;
}
img:not(.img-thumbnail){
    height:100vh;
    min-width:2px;
    object-fit: cover;
}
/*The following is used to vertically center the content inside this .col container
 * this class should only be applied to containers that also have the class .col-... of bootstrap*/
.y-center{
    height:100%;
}
@media(min-width:576px){ /*screens that have at minimum this size*/
    #sidebar{
        width:var(--large-Sidebar,350px);
    }
}
